/*temporales*/
header, section { max-width: 645px;}
body { padding-top: 20px}
/*//temporales*/


/* Colores partidos */
.bk_pro {background: #FEDB30; }
.bk_fpv  {background: #1796D7; }
.bk_eco  {background: #7CC374; }
.bk_izquierda  {background: #F4987E; }
.bk_fte_renovador  {background: #B185B7;}
.bk_otros  {background: #B3B3B3;}
.col_pro {color: #FEDB30; }
.col_fpv  {color: #1796D7; }
.col_eco  {color: #7CC374; }
.col_izquierda  {color: #F4987E; }
.col_fte_renovador  {color: #B185B7;}
.col_otros  {color: #B3B3B3;}


/*helpers*/
[hidden] {display: none !important;}
.bullet { display: inline-block; width: 10px; height: 10px;}
.box { border: solid 1px #ddd; display: inline-block; padding: 5px}
.arrow {position: relative;}
.arrow:after {
	content: ""; display: inline-block;
	position: absolute; right: -20px; top: 36%;
	width: 0; height: 0; border-top: 5px solid transparent; border-left: 5px solid #000; border-bottom: 5px solid transparent;
}

.clearfix{display: block;}
.clearfix:after{content: ""; display: block; clear: both;}

body { font-size: 13px; color: #000; font-family: arial;}

/*header*/
header { overflow: hidden; border-bottom: solid 1px #000; padding-bottom: 15px; margin-bottom: 15px;}
h1 {font-family: 'TheSans', arial; font-size: 2em; color:#29ABE2; display: inline-block;}
h1 span{color:#0071BC; }
h2	{color: #000; display: inline-block; font-family: 'TheSansSemi'; font-size: 2em; padding:  0 10px; margin: 0 10px; border: solid 1px #000; border-top: none; border-bottom: none;}

ul#ref {width: 260px; float: right; font-size: 11px; font-family: 'TheSans'}
ul#ref li { float: left; width: 85px; margin-bottom: 3px; }


section { padding: 0 5px; }

/*filtros*/
section#filtros { }
#filtros h3, div#selected { float: left; display: inline-block; } 
h3, h4 { font-size: 1.5em}
h4 { font-size: 1.4em}
div#selected { width: 24%; margin-left: 35px; padding: 6px 0; height: 1.5em; position: relative;}
div#selected.arrow:after {right: -10px;}
div#selected hr { margin-top: .75em }
div#selected h4 { padding: 6px 5px; display: inline-block; position: absolute; top: 1px; left: 0; background: #ddd; text-transform: uppercase; border-right: solid 5px #fff; }
div#selected h4 a { color: #000; margin-left: 10px; text-decoration: none; text-transform: lowercase; font-weight: bold; position: relative; top: -2px}

select#opts { width: 40%; float: right; font-size: 1.3em; padding: 5px 0; background: #fff; border: solid 1px #ddd;}

/*mapa*/
section#cont_data {margin-top: 20px;}
#mapa_cont, #results { min-height: 450px;}

#mapa_cont { width: 59%; height: 400px; overflow: hidden; float: left;}
#mapa_cont svg {width: 100%; height: 100%; }
#mapa_cont svg #mapa { transform:translateX(-10px) translateY(0px) scale(.8); }
#mapa_cont svg path {stroke:white;stroke-width:1.2px; cursor: pointer;}

#mapa_cont svg path:hover {fill-opacity:0.9;}
#mapa_cont svg path {fill:#FEDB30;}
#mapa_cont svg path#c2, #mapa_cont svg path#c3, #mapa_cont svg path#c11 { fill:#1796D7; }

#results { border-left: solid 1px #ccc; width: 40%; float: right; position: relative;}
#results div#line { width: 0px; height: 100%; height: calc(100% - 44px); border-left: 1.5px dotted #000; position: absolute; top: 40px; left: 1.5% }

.help_text { color: #999}
.help_text p { font-size: .80em; line-height: 1.3em}
.help_text span {float: left; display: inline-block; font: bold 14px arial; padding: 5px; border: 1px solid #000; color: #999; margin-right: 5px; background: #fff; z-index: 1; margin-left: 1.5%; position: relative;}
.help_text span:before, .help_text span:after { 
	content: ""; display: inline-block;
	position: absolute; left: -1px; bottom: -9px; width: 0; height: 0;
	border-left: 7px solid #000; border-bottom: 9px solid transparent;
}
.help_text span:after { border-left: 5px solid #fff; border-bottom: 10px solid transparent; left: 0px; bottom: -7px; }

#results ul#list { }
#results ul#list li { border-bottom: 1px solid #ccc; padding: 15px 0;}
#results ul#list li h5 { font: 1.5em 'TheSansBold' arial; padding: 0 0 10px 15px;}
#results ul#list li h5 span { font: normal .6em arial; color: #666}
#results ul#list .cont_barra { width: 85%; /*background: rgba(200, 200, 200, .1);*/}
	.cont_barra .barra { width: 100%; height: 22px; position: relative;}
	.cont_barra .barra .porc{ position: absolute; top: 1px; right: -45px; font: bold 20px arial; }
	/*no pasa*/
	li.no_pasa {}
	li.no_pasa h5 { color: #999}
	li.no_pasa .cont_barra .barra { background: #999}
	li.no_pasa .cont_barra .barra .porc { color: #999; right: auto; left: 15px}
	li.no_pasa .cont_barra .barra .porc:after { content: "x"; color: #fff; display: inline-block; background: #C6373D; border-radius: 50%; font: bold 15px arial; width: 13px; height: 13px; text-align: center; line-height: 11px; position: absolute; top: 4px; right: -20px}