<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OrigenPathZIP" value=".\" />

    <!-- ARCHIVOS CSV-->
    <add key="RelacionesXML" value=".\xml\relaciones.xml"/>

    <add key="Totales" value="..\totales.csv"/>
    <add key="TotalesXML" value=".\xml\totales.xml"/>

    <add key="TotalesPorListas" value="..\totaleslistas.csv"/>
    <add key="TotalesPorListaXML" value=".\xml\totaleslistas.xml"/>

    <add key="EnHomeXSLT" value=".\xsl\enHome.xslt"/>
    <add key="PaisXSLT" value=".\xsl\enMapa.xslt"/>

    <add key="EnHomeSalidaDeDatos" value=".\srvolqar\www\LN7\anexos\xml\" /><!-- reemplazar . por \ -->
    <add key="EnHomeXML" value="primarias.xml"/>

    <add key="PaisSalidaDeDatos" value=".\srvolqar\www\LN7\anexos\xml\" /><!-- reemplazar . por \ -->
    <add key="PaisXML" value="elecciones.xml"/>
    <!-- ARCHIVOS CSV-->

    <!-- /CONFIGURACION DE LAS REPLICAS-->
    <add key="ReplicaDestinoEnHomeXML" value="\anexos\xml\primarias.xml" />  
    <add key="ReplicaDestinoPaisXML"   value="\anexos\xml\elecciones.xml" />
    
    
    <add key="ReplicaDestinoPathBaseEnHomeXML" value="\\10.128.226.2\www\cabecera\altaPrioridad\QUITAR-Y-CAMBIAR-A-srv1-LN7\proc-[contexto]" />
    <add key="ReplicaDestinoPathBasePaisXML" value="\\10.128.226.2\www\cabecera\altaPrioridad\QUITAR-Y-CAMBIAR-A-srv1-bucket\proc-[contexto]" />
    
    <!-- /CONFIGURACION DE LAS REPLICAS-->
    
    <!-- USUARIO Y PASSWOD TELMEX -->
    <add key="Usuario" value="tareasfs" />
    <add key="Password" value="fs*nmln*123321" />
    <add key="Dominio" value="LANACION" />
    
    <!-- DATOS EN BLANCO -->
    <add key="DatosEnBlanco" value="1"/>
    <!-- SETEAR REPLICA-->
    <add key="Replica" value="1"/>

  </appSettings>
</configuration>